:root {
  --primary-color: #1F2937;
  --secondary-color: #E5E7EB;
  --alt-color: #F9FAF8;
  --cta-color: #3882F6;
}


* {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  list-style-type: none;
}


.header, .header-right ul, .hero, .hero-left, .hero-right { /* general flex */
  display: flex;
}

.header, .hero {
  background-color: var(--primary-color);
}

.header-left, .hero-left h1 {
  color: var(--alt-color);
}

.header-right a, .hero-right, .hero-left p, .hero-left button {
  color: var(--secondary-color);
}

.hero-left button {
  background-color: var(--cta-color);
}

.hero-left h1 {
  font-weight: 900;
  font-size: 48px;
}

.hero-left p {
  font-size: 18px;
  color: var(--secondary-color);
}


.header, .hero { /* general padding */
  padding: 16px 10vw;
}

.header {
  justify-content: space-between;
}

.header-right ul {
  flex-flow: row nowrap;
  gap: 16px;
  font-size: 18px;
}

.header-left {
  font-size: 24px;
  font-weight: 900;
}

.hero-left {
  flex-flow: column nowrap;
  width: 45vw;
  gap: 8px;
}

.hero-right {
  width: 45vw;
}

.hero {
  justify-content: center;
  padding-top: 50px;
  gap: 100px
}

.hero-right img {
  width: 100%;
}

.hero-left button {
  width: 80px;
  font-weight: bold;
}

.information {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  padding-bottom: 64px;
  padding-top: 32px;
  gap: 40px;
  width: 66vw;
  margin: auto;
  font-size: 36px;
  color: var(--primary-color);
  font-weight: 900;
}

.information-bottom {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}

.information-bottom div div {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  justify-items: center;
  align-items: center;
  text-justify: center;
}

.quote {
  display: flex;
  background-color: var(--secondary-color);
  font-size: 36px;
  color: var(--primary-color);
  font-weight: 300;
  margin: auto;
  justify-content: center;
  padding-top: 80px;
  padding-bottom: 80px;
}

.quote-text {
  width: 66vw;
  display: flex;
  flex-flow: column nowrap;
}

.quote-bottom {
  display: flex;
  justify-content: flex-end;
  
}