:root {
  --primary-color: #1F2937;
  --secondary-color: #E5E7EB;
  --alt-color: #F9FAF8;
  --cta-color: #3882F6;
}


* {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  list-style-type: none;
}

.container {
  background-color: var(--primary-color);
}

.header {
  width: 1024px;
  margin: auto;
}

.header, .header-right ul, .hero, .hero-left, .hero-right { /* general flex */
  display: flex;
}

.header, .hero {
  background-color: var(--primary-color);
}

.header-left, .hero-left h1 {
  color: var(--alt-color);
}

.header-right a, .hero-right, .hero-left p, .hero-left button {
  color: var(--secondary-color);
}

.hero-left button {
  background-color: var(--cta-color);
}

.hero-left h1 {
  font-weight: 900;
  font-size: 48px;
}

.hero-left p {
  font-size: 18px;
  color: var(--secondary-color);
}


.header, .hero { /* general padding */
  padding: 16px 10vw;
}

.header {
  justify-content: space-between;
}

.header-right ul {
  flex-flow: row nowrap;
  gap: 16px;
  font-size: 18px;
}

.header-left {
  font-size: 24px;
  font-weight: 900;
}

.hero-left {
  flex-flow: column nowrap;
  width: 45vw;
  gap: 8px;
}

.hero-right {
  width: 45vw;
}

.hero {
  justify-content: center;
  padding-top: 80px;
  gap: 100px;
  padding-bottom: 120px;
}

.hero-right img {
  width: 100%;
  height: 220px;
  object-fit: cover;
}

.hero-left button {
  width: 120px;
  font-weight: bold;
  padding: 8px 10px;
  background-color: var(--cta-color);
  color: var(--alt-color);
  font-weight: 900;
  border-color: var(--alt-color);
  border-style: none;
  border-width: 0.3cap;
  font-size: 16px;
  border-radius: 6px;

}

.information {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  padding-bottom: 64px;
  padding-top: 32px;
  gap: 40px;
  width: 66vw;
  margin: auto;

}

.information-top h2 {
  font-size: 36px;
  color: var(--primary-color);
  font-weight: 900;
}

.information-bottom {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  gap: 40px;
}

.information-bottom div div {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  justify-items: center;
  align-items: center;
  text-justify: center;
  gap: 8px;
}

.information-img div img {
  width: 180px;
  height: 180px;
  object-fit: cover;
  border-style: ridge;
  border-color: var(--cta-color);
  border-radius: 16px;
}

.information-img div p {
  font-size: 18px;
  text-align: center;
  font-weight: 100;
  width: 180px;
}

.quote {
  display: flex;
  background-color: var(--secondary-color);
  margin: auto;
  justify-content: center;
  padding-top: 80px;
  padding-bottom: 80px;
}

.quote-text {
  width: 66vw;
  display: flex;
  flex-flow: column nowrap;
}

.quote-top {
  font-size: 36px;
  color: var(--primary-color);
  font-weight: 300;
  font-style: italic;
}

.quote-bottom {
  display: flex;
  justify-content: flex-end;
  font-size: 24px;
  font-weight: 700;
  
}

.cta {
  background-color: var(--cta-color);
  margin:  60px 10vw 60px 10vw;
}

.cta-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--alt-color);
  padding: 40px 100px 40px 100px;
}

.cta-top {
  font-weight: 900;
  font-size: 24px;
}

.cta-bottom p {
  color: var(--secondary-color);
}

.cta-button button {
  padding: 6px 30px;
  background-color: var(--cta-color);
  color: var(--alt-color);
  font-weight: 900;
  border-color: var(--alt-color);
  border-style: ridge;
  border-width: 0.3cap;
  font-size: 16px;
  border-radius: 8px;
}

.footer {
  display: flex;
  background-color: var(--primary-color);
  color: var(--alt-color);
  justify-content: center;
  align-items: center;
  padding: 40px 0;
}