:root {
  --primary-color: #1F2937;
  --secondary-color: #E5E7EB;
  --alt-color: #F9FAF8;
  --cta-color: #3882F6;
}


* {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  list-style-type: none;
}


.header, .header-right ul, .hero, .hero-left, .hero-right { /* general flex */
  display: flex;
}

.header, .hero {
  background-color: var(--primary-color);
}

.header-left, .hero-left h1 {
  color: var(--alt-color);
}

.header-right a, .hero-right, .hero-left p, .hero-left button {
  color: var(--secondary-color);
}

.hero-left button {
  background-color: var(--cta-color);
}

.hero-left h1 {
  font-weight: 900;
  font-size: 48px;
}

.header, .hero { /* general padding */
  padding: 16px 10vw;
}

.header, .hero {
  justify-content: space-between;
}

.header-right ul {
  flex-flow: row nowrap;
  gap: 16px;
  font-size: 18px;
}

.header-left {
  font-size: 24px;
}

.hero-left {
  flex-flow: column nowrap;
  width: 30vw;
}

.hero-right {
  width: 30vw;
}
